<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">      
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	
	<style>
		#blah{
			display: none;
        }
        .card-small {
            width: 90%;
        }
	</style>
	
</head>
<body>
	<!--NAVBAR-->
	<div class="navbar-fixed">
		<nav class="blue">
			<div class="navbar-wrapper">
				<a href="/" class="brand-logo" style="margin-left: 16px">Plant Disease Diagnosis</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="about">About</a></li>
					<li><a href="results">Results</a></li>
				</ul>
			</div>
		</nav>
    </div>
    
    <div class="container">
        <!--start of first row-->
        <div class="row">
            <div class="col s6">
                <!--First-->
                <h4 class="header">Late Blight</h4>
                <div class="card horizontal big">
                    <div class="card-image">
                        <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Brown spots grow from leaf margin, white covering on the underside of leaves, gray or brown wrinkled stains on fruits, hardened fruit flesh and fruit decay.<b>Biological control</b>: Remove and destroy plant around infected spot. Do not compost infected part. 
                                <b>Chemical control</b>: Fungicide sprays based on mandopropamid, chlorothelonil, fluazinum, triphenyltin, mancozeb. </p>
                            </div>
                            <div class="card-action">
                                <a href="http://www.extension.umn.edu/garden/fruit-vegetable/plant-diseases/late-blight-tomato/">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Second-->
                <div class="col s6">
                    <h4 class="header">Nitrogen deficiency</h4>
                    <div class="card horizontal big">
                        <div class="card-image">
                            <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>     Older mature leaf turn pale green, with red discoloration on petioles and veins. Later they become uniformly yellow first and later yellowish white. Young leaves remain pale green and grow shorter than usual. Plant have spindly aspect with normal height.<b>Chemical control</b>: High level of organic matter in soil like manure, compost, etc.
                                    <b>Chemical control</b>: Use of products having ammonium, urea and nitrate</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://en.wikipedia.org/wiki/Nitrogen_deficiency">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of first row-->            
                <!--Start of second row-->        
                
                <div class="row">
                    <div class="col s6">
                        <!--Third-->
                        <h4 class="header">Tomato yellow leaf curl virus</h4>
                        <div class="card horizontal big">
                            <div class="card-image">
                                <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>Thicker and wrinkled leaves with interveinal chlorosis clearly visible on the leaf blade.  Number of fruits reduced.
                                        <b>Chemical Control</b>: Use a neonicotinoid insecticide, such as dinotefuran (Venom) imidacloprid (AdmirePro, Alias, Nuprid, Widow, and others) or thiamethoxam (Platinum)
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="https://www.gardeningknowhow.com/edible/vegetables/tomato/tomato-leaves-curling.htm">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Fourth-->
                    <div class="col s6">
                        <h4 class="header">Early blight on tomato</h4>
                        <div class="card horizontal big">
                            <div class="card-image">
                                <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>     Dark spots on leaves, dark concentric circles on stem and fruit.
                                        <b>Biological control</b>: Spray algal limestone or rock flour.
                                        <b>Chemical control</b>: Fungicides containing copper, mancozeb, chlorothalonil, azoxystrobin, pyraclostrobin, trifloxystrobin, fenamidone and famoxidone.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="https://www.planetnatural.com/pest-problem-solver/plant-disease/early-blight/">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of second row-->
                        <!--start of third row-->
                        <div class="row">
                            <div class="col s6">
                                <!--First-->
                                <h4 class="header">Potassium deficiency</h4>
                                <div class="card horizontal big">
                                    <div class="card-image">
                                        <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <p>     Leaf tip burn, white spots.
                                                <b>Biological control</b>: Animal manure or plant mulch or wood ash.
                                                <b>Chemical control</b>: Potassium chloride, potassium nitrate, potassium sulphate and monopotassium phosphate.</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="https://en.wikipedia.org/wiki/Potassium_deficiency_(plants)">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Second-->
                                <div class="col s6">
                                    <h4 class="header">Magnesium deficiency</h4>
                                    <div class="card horizontal big">
                                        <div class="card-image">
                                            <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                                        </div>
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <p>          Mottled chlorotic areas on leaves, later yellowing engulfs the leaves.
                                                    <b>Biological control</b>: Manure, organic mulches or compost.
                                                    <b>Chemical control</b>: Foliar fertilizers containing magnesium components, magnesium oxide, magnesium sulphate. </p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="https://en.wikipedia.org/wiki/Magnesium_deficiency_(plants)">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End of third row-->  
                            </div>
                            
                        </div>                
                    </body>
                    
                    </html>