<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">      
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	
	<style>
		#blah{
			display: none;
        }
        .card-small {
            width: 90%;
        }
	</style>
	
</head>
<body>
	<!--NAVBAR-->
	<div class="navbar-fixed">
		<nav class="blue">
			<div class="navbar-wrapper">
				<a href="/" class="brand-logo" style="margin-left: 16px">Plant Disease Diagnosis</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="about">About</a></li>
					<li><a href="results">Results</a></li>
				</ul>
			</div>
		</nav>
    </div>
    
    <div class="container">
        <!--start of first row-->
        <div class="row">
            <div class="col s6">
                <!--First-->
                <h4 class="header">Horizontal Card</h4>
                <div class="card horizontal small">
                    <div class="card-image">
                        <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Second-->
            <div class="col s6">
                <h4 class="header">Horizontal Card</h4>
                <div class="card horizontal small">
                    <div class="card-image">
                        <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of first row-->            
        <!--Start of second row-->        
        
        <div class="row">
            <div class="col s6">
                <!--Third-->
                <h4 class="header">Horizontal Card</h4>
                <div class="card horizontal small">
                    <div class="card-image">
                        <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Fourth-->
            <div class="col s6">
                <h4 class="header">Horizontal Card</h4>
                <div class="card horizontal small">
                    <div class="card-image">
                        <img class="responsive-img" src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of second row-->
        </div>
        
    </div>                
</body>

</html>